<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self'"> -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Pichoncitos Morteros</title>
</head>

<body>
    <h1>Insumos</h1>
    <div class="container p-4">
        <!-- Centra el contenido -->
        <div class="row" id="products">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Insumo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">$CM2</th>
                        <th scope="col">$/U</th>
                        <th scope="col">
                            <button onclick="Agregar()" class="btn btn-sm btn-block btn-success text-center">Agregar</button>
                        </th>
                    </tr>
                </thead>
                <tbody id="productsBody"></tbody>
            </table>
        </div>
    </div>

    

    <script>
        const { ipcRenderer } = require('electron');

        document.addEventListener('DOMContentLoaded', () => {
            ipcRenderer.send('product:getAllInsumos');
        })

        function Agregar() {
            ipcRenderer.send('product:open', '0');
        }

        function Editar(id) {
            ipcRenderer.send('product:open', id);
        }

        function Eliminar(id) {
            ipcRenderer.send('product:delete', id);
        }

        ipcRenderer.on('product:getInsumos', (event, listadoInsumos) => {
            const products = document.querySelector('#productsBody');

            products.innerHTML = '';
            console.log(listadoInsumos);
            
            listadoInsumos.forEach(insumo => {
                products.innerHTML += `
                    <tr>
                        <td>${insumo.name}</td>
                        <td>${insumo.date}</td>
                        <td>${insumo.priceCm}</td>
                        <td>${insumo.priceCmUnit}</td>
                        <td class="text-center">
                            <div class="btn-group d-block" role="group">
                                <button type="button" class="btn btn-info btn-sm" onclick="Editar('${insumo.id}')">
                                    Editar
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" onclick="Eliminar('${insumo.id}')">
                                    Eliminar
                                </button>
                            </div>
                        </td>
                    </tr>
                `;
           
                // const btns = document.querySelectorAll('.btn.btn-danger'); //Selecciona todos los btn que tengan esa clase
                // btns.forEach(btn => {
                //     btn.addEventListener('click', event => {
                //         event.target.parentElement.parentElement.parentElement.parentElement.remove();
                //     })
                // })

            });
        });
    </script>

</body>

</html>