<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self'"> -->
    <title>Agregar Insumos</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>

    <form class="p-4">
        <div class="form-group">
            <input type="text" id="name" class="form-control" placeholder="Nombre del Insumo" autofocus>
        </div>
        <div class="form-group">
            <input type="datetime" id="fecha" class="form-control" placeholder="Fecha" autofocus>
        </div>
        <div class="form-group">
            <input type="number" id="priceCm" class="form-control" placeholder="Precio CM2" autofocus>
        </div>
        <div class="form-group">
            <input type="number" id="priceCmu" class="form-control" placeholder="Precio por unidad" autofocus>
        </div>
        <button class="btn btn-primary btn-block">
            Guardar Insumo
        </button>
    </form>


    <script>
        //Protocolo que usa electron para comunicar las ventanas con la principal
        // Se necesita del ipcRenderer para pasar la informacion al Main con 'send()'

        const {
            ipcRenderer
        } = require('electron');


        //Al momento de guardar producto no se recarga la pestaña
        const form = document.querySelector('form');
        form.addEventListener('submit', event => {
            event.preventDefault();


            // Se toma los values de los input
            const nameInsumo = document.querySelector('#name').value;
            const fecha = document.querySelector('#fecha').value;
            const priceProductCm2 = document.querySelector('#priceCm').value;
            const priceProductUnidad = document.querySelector('#priceCmu').value;


            // Se crea un objeto con los valores
            const newProduct = {
                name: nameInsumo,
                fecha: fecha,
                priceCm: priceProductCm2,
                priceCmu: priceProductUnidad
            };
            console.log(newProduct);
            // a traves de  ipcRenderer.send voy a enviar un evento llamada product:new y un objeto al index.js
            // Se envía el objeto {newProduct} como 'product:new' al Main para ser mostrados en la pantalla principal
            ipcRenderer.send('product:new', newProduct);


        });
    </script>

</body>

</html>