<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self'"> -->
    <title>Agregar Telas</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

</head>

<body>

    <form class="p-4">
        <div class="form-group">
            <input type="text" id="name" class="form-control" placeholder="Nombre de la Tela" autofocus>
        </div>
        <div class="form-group">
            <input type="text" id="tipName" class="form-control" placeholder="Tipo de Tela" autofocus>
        </div>
        <div class="form-group">
            <input type="text" id="color" class="form-control" placeholder="Color" autofocus>
        </div>
        <div class="form-group">
            <input type="number" id="price" class="form-control" placeholder="Precio" autofocus>
        </div>
        <button class="btn btn-primary btn-block">
            Guardar Producto
        </button>
    </form>


    <script>
        //Protocolo que usa electron para comunicar las ventanas con la principal
        // Se necesita del ipcRenderer para pasar la informacion al Main con 'send()'

        const {
            ipcRenderer
        } = ('electron');


        //Al momento de guardar producto no se recarga la pestaña
        const form = document.querySelector('form');
        form.addEventListener('submit', event => {
            event.preventDefault();


            // Se toma los values de los input
            const nameProduct = document.querySelector('#name').value;
            const tipnameProduct = document.querySelector('#tipName').value;
            const colorProduct = document.querySelector('#color').value;
            const priceProduct = document.querySelector('#price').value;


            // Se crea un objeto con los valores
            const newProduct = {
                name: nameProduct,
                tipName: tipnameProduct,
                color: colorProduct,
                price: priceProduct
            };
            // console.log(newProduct);
            // a traves de  ipcRenderer.send voy a enviar un evento llamada product:new y un objeto al index.js
            // Se envía el objeto {newProduct} como 'product:new' al Main para ser mostrados en la pantalla principal
            ipcRenderer.send('product:new', newProduct);


        })
    </script>

</body>

</html>